<!--The 'step_code' value from the .js file should be used-->
<li id="delivery_step" data-bind="fadeVisible: isVisible">
    <div class="step-title" data-bind="i18n: 'Delivery Step'" data-role="title"></div>
    <div id="checkout-step-title"
         class="step-content"
         data-role="content">
        <form data-bind="submit: navigateToNextStep" novalidate="novalidate">
            <div class="delivery-checkout">
                <label class="label" for="date">Delivery date</label>
                <div class="control">
                    <input class="input-text" type="date" name="date" aria-required="true" aria-invalid="false" id="date">
                </div>
                <div class="primary" style="margin-top: 10px;">
                    <label>Delivery Note</label>
                    <textarea rows="5" cols="15" name="note" id="note"></textarea>
                </div>
            </div>
            <div class="actions-toolbar">
                <div class="primary">
                    <button data-role="opc-continue" type="submit" class="button action continue primary">
                        <span><!-- ko i18n: 'Next'--><!-- /ko --></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</li>