<?xml version="1.0"?>
<!-- Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Fix for ui_component aht_portfolio_listing.xml -->
    <!-- Configure our grid collection -->
    <virtualType name="AHT\Portfolio\Model\ResourceModel\Portfolio\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">AHT_Portfolio</argument>
            <argument name="resourceModel" xsi:type="string">AHT\Portfolio\Model\ResourceModel\Portfolio</argument>
            <argument name="eventPrefix" xsi:type="string">AHT_Portfolio_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">field_grid_collection</argument>
        </arguments>
    </virtualType>
    
    <!-- register our data source: Dang ky nguon du lieu -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="aht_portfolio_listing_data_source" xsi:type="string">AHT\Portfolio\Model\ResourceModel\Portfolio\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <!-- End Configure -->
</config>