<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_register_success">
        <observer name="module_custom_save_customer" instance="AHT\AttributeCustomer\Observer\SaveCustomer" />
    </event>
</config>
